<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí nông sản LiTi</title>
    {% load static %}
    
     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

     <!-- Css Styles -->
     <link rel="stylesheet" type="text/css" href="{% static './css/blogvitamin.css' %}">
     <link rel="stylesheet" href="{% static './css/blogbootstrap.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/font-awesome.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/elegant-icons.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/nice-select.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/jquery-ui.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/slicknav.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static './css/secondstyle.css' %}" type="text/css">
</head>

<body>
<!-- Menu Navigation Bar -->
<nav class="menu">
    <a href="#"><img src="{% static './images/logo.png' %}" class="logo"></a>
    <a class="menu_header" href="{% url 'trangchu' %}">TRANG CHỦ</a>
    <a class="menu_header" href="{% url 'traicaytuoi' %}">TRÁI CÂY TƯƠI</a>
    <a class="menu_header" href="{% url 'sanphamkhac' %}">SẢN PHẨM KHÁC</a>
    <a class="menu_header" href="{% url 'blogvitamin' %}">BLOG VITAMIN</a>
    <a class="menu_header" href="{% url 'contact' %}">LIÊN HỆ</a>
    <div class="menu-logcart">
        <a href="{% url 'cart' %}" target="_blank"><img src="{% static './images/cart.png' %}" class="cart"></a>
    </div>
    <div class="menu-log">
        <a href="{% url 'dangNhap'%} " target="_blank">ĐĂNG NHẬP</a>
        <a href="{% url 'dangKy' %}" target="_blank">ĐĂNG KÝ</a>       
    </div> 
</nav>
<!-- Body section -->
    
<div id="preloder">
    <div class="loader"></div>
</div>

  <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static './images/breadcrumb.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>THANH TOÁN</h2>                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Chi tiết hóa đơn</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Đơn hàng của bạn</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                <li>Táo Envy Mỹ Size 100<span>64.000đ</span></li>
                                <li>Nho Mẫu Đơn Hàn Quốc<span>1.280.000đ</span></li>
                                <li>Kiwi Vàng New Zealand<span>68.000đ</span></li>
                            </ul>                       
                            <div class="checkout__order__total">Tổng<span>1.412.000đ</span></div>
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    <a href="{% url 'dangKy' %}" style="color: black;" target="_blank">Tạo tài khoản?</a>
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Bạn bắt buộc phải có tài khoản mới có thể tiến hành thanh toán</p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Thanh toán trực tiếp
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Thanh toán thẻ
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" href="{% url 'checkoutfn' %}" class="site-btn"><a href="{% url 'checkoutfn' %}" style="color: black;">ĐẶT HÀNG</a></button>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <h3>VỀ CHÚNG TÔI</h3>
                    <li>Giảng viên hướng dẫn ThS Bùi Tiến Đức</li>
                    <li>Công ty ITE ACADEMY</li>
                    <li>D/c: 101/3D Điện Biên Phủ, P15, Q Bình Thạnh</li>
                    <li>LITI SHOP - Tận Tâm Với Khách Hàng</li>
                    <li>Hotline: 07073362117</li>
                    <li>Tuyển dụng: 0707336217</li>
                    <li>Bán sỉ: 0707336217</li>
                    <li>Email: lelinhtien102@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <h3>FOLLOW CHÚNG TÔI</h3>
                        <li>Họ tên: Lê Linh Tiến</li>
                        <li>MSSV: 1900008099</li>
                        <li>Lớp: 19DTH1C</li>
                        <li>Facebook: Linh Tiến</li>                 
                        <li>Instagram: nintien17</li>
                        <li><img src="{% static './images/bocongthuong.png'%}" class="bocongthuong"></li>   
                    </ul>
                </div>
            </div>       
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Đăng kí nhận thông báo</h6>
                    <p>Nhập Email để nhận những tin tức khuyến mãi đặc biệt mới nhất cho khách hàng thành viên</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập Email..">
                        <button type="submit" class="site-btn">Đăng kí</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- Blog Section End -->

    <!-- Js Plugins -->
    
    <script type="text/javascript" src="{% static './js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/jquery.nice-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/jquery.slicknav.js' %}"></script>
    <script type="text/javascript" src="{% static './js/mixitup.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static './js/mainblog.js' %}"></script>
    
</body>

</html>
